<h2>Filmes</h2>

<style>
         #table {
      font-family: "sans-serif";
      border-collapse: collapse;
      width: 100%;
  }

  #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }

  #table tr:nth-child(even){background-color: #f2f2f2;}

  #table tr:hover {background-color: #ddd;}

  #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
  }
</style>

<table class="table" id="table">
  <thead class="table__head">
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Episódio</th>
      <th>Lançamento</th>
      <th>Diretor</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let film of films; let i = index; trackBy:trackByEpisodId;">
      <td>{{ i+1 }}</td>
      <td>{{ film.title | filmTitle }}</td>
      <td>{{ film.episode_id }}</td>
      <td>{{ film.release_date }}</td>
      <td>{{ film.director }}</td>
    </tr>
  </tbody>
</table>
