<h2>Personagens</h2>

<style>

         #table {
      font-family: "sans-serif";
      border-collapse: collapse;
      width: 100%;
  }

  #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }

  #table tr:nth-child(even){background-color: #f2f2f2;}

  #table tr:hover {background-color: #ddd;}

  #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
  }

</style>

<table class="table" id="table">
  <thead class="table__head">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Ano de nascimento</th>
      <th>Cor do Cabelo</th>
      <th>Altura</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let person of people; let i = index; trackBy:trackByName;">
      <td>{{ i+1 }}</td>   <!--- Auto incremento do valor a se buscar na API -->
      <td>{{ person.name }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.birth_year }}</td>
      <td>{{ person.hair_color }}</td>
      <td>{{ person.height }}</td>
    </tr>
  </tbody>
</table>
